@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff');


img.logo{ /*clear old logo*/
  display: none;
}


header{
   width: auto;
}


h1.title{
  padding: 100px;
  height: 200px;


  color: #086788;
  font-family: "Rock Salt";
  font-size: 60px;
  text-align: center;
}




nav{ /*positioning nav bar*/
   top: 0px;
   position: fixed;
   width: 100%;
   background-color: black;
 
   ul{ /*format nav buttons */
      display:flex;
      justify-content: center;
      list-style-type: none;
      flex-wrap:wrap;


      justify-content: space-evenly;

      background-color: black;
      font-family: Arial, Helvetica, sans-serif;
      


       *{
         font-size: 120%;
         color:white;
         text-decoration: none;
         flex-grow: 1;
       }
   }
  }
 



h2{
  color: #ED6A5A;
  font-family: "Raleway";
  font-size: 250%;
  font-weight: bold;
}


p{
   font-family: "Raleway";
   color: black;
} /* ---HOME SECTION--- */




#home h1.title{ /*banner with new logo*/
   background-image: url("imgs/clouds.jpg");
   background-size: cover;
   background-repeat: no-repeat;
}

body{
   margin: 0px;
   background-color: white;
 
   width:95%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;

}





#home li>a[href="index.html"]{ /* indicates that user is on home page (in nav bar) */
  font-weight: bold;
}




aside{ /*formats media section*/
  order:1;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0px 25px;
  width: 350px;
  height: 200px;
}




aside::before{ /*formats "Follow Us" text*/
  content: "Follow us!";
  font-size: 55px;
  font-family: "Rock Salt";
} img[alt="Facebook"]{ /*formats insta logo*/
  background-color: rgb(24, 119, 242);
  border-radius: 50px;
  height: 100px;
}


img[alt="Instagram"]{ /*formats fb logo*/
  background-color: rgb(255, 0, 68);
  border-radius: 50px;
  height: 100px;
}


#inspiration{
   width: 90%;
   margin-left: 5%;
   margin-top: 0;
   margin-bottom: 5%;




   p{
   font-family: "DynaPuff";
   font-weight: bold;
   font-size: 40px;
   line-height: 80px;
   text-align: center;
   color: #129997;
   }
}


#mission{
   p:nth-child(3){
       margin-bottom: 5%;
       margin-top: 5%;
       padding: 50px;
       border: 5px #129997 solid;
       border-radius: 50px;




       text-align: center;
       font-family: "DynaPuff";
       color: #129997;
       font-size: 22px;
       line-height: 40px;




       background-image: url(imgs/clouds.jpg);
       background-repeat: no-repeat;
       background-size: 200%;
   }
}


#members{
  margin-top: 5%;
  order: 2;
  p:nth-child(3), p:nth-child(4){
     display: none;
  }
  p:nth-child(6){
     margin-bottom: 100px;
  }
}


#allDonation{ /*clear HTML decorations*/
  font-weight: normal;
  font-family: "Raleway";
  font-size: 18px;
  margin-bottom: 0px;
}




#dollyDonation{ /*clear HTML decorations*/
  font-weight: normal;
  font-family: "Raleway";
  font-size: 18px;
  margin-bottom: 0px;
}




#funding{
  border: 5px rgb(59, 193, 255) solid;
  padding: 5%;
  margin-top: 5%;
  border-radius: 50px;
  background-image: linear-gradient(#8BC6EC,#9599E2);
  *{
     color: white;
  }




  address{
     font-style: normal;
     font-family: "Raleway";
     font-size: 15px;
     margin-top: 5%;
     margin-bottom: 5%;




     border: 5px rgb(59, 193, 255) solid;
     border-radius: 20px;
     padding: 2%;
     background-image: linear-gradient(to right, #21D4FD,#B721FF);
     color: white;
     font-weight: bold;
  }




  p:nth-child(5){
     font-weight: bold;
     margin-top: 0px;
  }




  p:nth-child(8){
     font-weight: bold;
  }




  p:nth-child(9){
     font-weight: bold;
  }
}


/* ---CHILDCARE--- */




#whyChildcare > div:nth-child(2) > div > ul > li { /* removes text decoration from link*/
  list-style-type: none;
  margin-left: -42px;
}
#childcare li>a[href="childcare.html"]{ /* indicates that user is on preschool page (in nav bar) */
  font-weight: bold;
}


.imggroup.long img{
  width: 30%;
  margin-right:5%;
}

#poviders {
   align-self: center;
 } 





/* ---ACTIVITIES SECTION--- */




#activities aside{ /*remove extra spacing on top*/
   display: none;
 }
 
 
 #activities li>a[href="activities.html"]{ /* indicates that user is on home page (in nav bar) */
    font-weight: bold;
 }
 
 
 
 
 /* programs section of activities page */
 
 main{
   display:flex;
   flex-direction: column;
   flex-wrap: wrap;
   width:95%;
   margin-left: 5%;
   margin-right: 5%;
 }
 
 #programs::before{ /*top text*/
   align-self: center;
   content: "We have TWO free programs for families of children aged birth to five in Boyle and Mercer Counties:";
   font-size: 30px;
   font-weight: bold;
   font-family: "Raleway";
   color: rgb(48, 112, 149);
   margin-bottom: 50px;
   line-height: 50px;
 }
 
 
 #programs > h2{
   display: none;
 }
 
 
 #programs{ /*main container*/
   display:flex;
   flex-direction:column;
   margin: 0px;
   justify-content: center;
 }
 
 
 #programs .imgwrapper{ /*elements of container*/
   display: flex;
   flex-wrap: wrap;
   align-self: center;
   flex-direction: row;
   align-content: center;
   text-align: center;
   margin:5px;

   img[alt="Dolly Parton Imagination Library logo"], img[alt="Parent Powered logo"]{
      height: 200px;
    }

 }

 
 div > p, #PublicPreschool > p {
   text-align: left;
   font-size:200%;
 }

 

 
 #dolly, #ready4k{ /*dolly list buttons*/
   ul{
      display:flex;
      flex-wrap:wrap;
      
       list-style-type: none;
       li {
         width:25%;
       }
       *{
           margin: 2%;
           border-radius: 5px;
           padding: 1%; 
 
           text-align: center;
           text-decoration: none;
           font-family: Arial, Helvetica, sans-serif;
 
 
           color: white;
           background-color: rgb(48, 112, 149);
       }
   }
 }
 
 
 
 #dolly .video iframe, #ready4k .video iframe { /*set frame size for dolly video*/
   width:650px;
   height: 400px;
 }
 
 #programs > div.note{ /*ending note*/

    margin-top: 50px;
    margin-bottom: 25px;
 
 
    align-self: left;
    font-family: "Raleway";
    color: rgb(48, 112, 149);
 
 
    font-weight: bold;
    font-size: large;
 }
 
 
 /* at home section of activities page */
 
 #activities main, #support main, #preschool main, #concerns main {

 margin-top: 70px;
 display: flex;
 flex-direction: column;

 
 .imgwrapper{
   display: flex;
   flex-wrap: wrap;
   gap: 10%;
   align-self: center;
 
   ul{
      list-style-type: none;
      font-family: Arial, Helvetica, sans-serif;
      padding-left: 0px;
      text-align: center;
   }
 
   .imggroup.short{
      align-self: center;
      text-align: center;

   }
   }
 }

 #AddressConcerns{
      .imggroup.long div{
         width: 560px;
         margin: 0px;
        
         p{
            text-align: center;
         }
      }
   }

 #preschool main .imgwrapper .imggroup.short {
   width:40%;
 } 
 
 /* kids-parents section of activities page */
 

 

 
 
 
 
 /* kids adevntures section of activities page */
 
 


/* ---SUPPORT SECTION--- */


#support li>a[href="support.html"]{ /* indicates that user is on home page (in nav bar) */
  font-weight: bold;
}




#support aside{
  display: none;
}




#newParents img, #theraphy img, #caregivers img,  #kids-and-parents img, #kidAdventues img, #preschool img{ /* resize all logos */
  width: 30%;
}

/* ---PRESCHOOL SECTION--- */





#preschool aside{
   display: none;
}




#preschool li>a[href="preschool.html"]{ /* indicates that user is on preschool page (in nav bar) */
   font-weight: bold;
}



#preschool main ul, #preschool .phone{
   list-style-type: none;
   font-family: Arial, Helvetica, sans-serif;
   padding-left: 0px;
}



/* ---COCERNS SECTION--- */


#concerns li>a[href="concerns.html"]{ /* indicates that user is on preschool page (in nav bar) */
  font-weight: bold;
}





#age03 > div:nth-child(2){
  display: flex;
  flex-direction: column;
  a{
     align-self: center;
  }
  div.phone{
     display: flex;
     flex-direction: row;
     gap: 10px;
     justify-content: center;
  }
}


#age36 > div:nth-child(2) *{
  display: flex;
  flex-direction: column;
  align-items: center;
}


#age36 > div:nth-child(2) > p:nth-child(1)::before{
  content: "Age 3-6 Public School";
  font-weight: bold;
  text-decoration: underline;


  font-size: 23pt;
  color: rgb(48, 112, 149);
  margin-bottom: 20px;
}
